@media (max-width: 1200px) {
   .container{
      max-width: 960px;
      padding: 0 10px;
   }

   .aboutMe .subtitle{
      font-size: 32px;
   }
   .aboutMe{
      .aboutMe__txt_services .element_name:before {
         grid-template-columns: 30px 200px
      }
   }

   .aboutMe__txt_services {
      .element{
         align-items: center;
         max-width: 100%;
         &_descr{
            max-width: 220px;
         }
         &_name{
            margin-block-end: 0;
         }
      }
   }


   .sidepanel{
      display: none;
   }

   .aboutMe{
      .aboutMe__txt_services {
         column-gap: 10px;
         row-gap: 5px;
      }

      &__txt{
         line-height: 1.2;
         &_divider{
            margin-top: 0px;
            margin-bottom: 15px
         }
      }

      &__txt_title{
         padding: 0 10px;
      }

      &__txt_services{
         .element{
            grid-template-columns: 30px auto;
         }

         .element_name:before {
            left: -25%;
            top: -10px;
         }
      }

      &__elements{
         grid-template-columns: 400px 540px;
         column-gap: 35px;
         row-gap: 40px;
      }
      
   }

   .resume{
      &__wrapper{
         justify-content: center;
         grid-template-columns: repeat(2, minmax(300px, 26.5625rem));
      }
   }

   .contacts{
      &__input{
         .contacts-form{
            .form-group{
               margin-bottom: 30px;
            }
            display: block;
            margin: 0 auto;

         }
      }
   }
}

@media (max-width: 992px) {
   .container{
      max-width: 720px;
      padding: 0 10px;
   }
   .aboutMe{
      &__elements{
         grid-template-columns: 300px 400px;
         justify-items: center;
         row-gap: 0;
      }

      &__txt{
         &_descr{
            max-width: 400px;
         }
         &_services{
            .element_descr{
               max-width: 165px;
            }
            .element_pic{
               margin-top: 0;
            }
         }
      }
   }
}

@media (max-width: 768px) {
   .container{
      max-width: 540px;
      padding: 0 10px;
   }

   .resume{
      padding-top: 40px;
   }
   
   .hamburger {
      right: 15px;
   }
   .menu__close{
      right: 15px;
   }

   .aboutMe{
      margin-top: 40px;
      &__elements{
         grid-template-columns: auto;
         row-gap: 30px;
      }
      &__img{
         img{
            width: 400px;
            height: 600px;
         }
      }
      &__txt{
         &_title{
            text-align: justify;
         }
         &_descr{
            margin: 0 auto;
            max-width: 480px;
         }
         &_services{
            .element_descr{
               max-width: 165px;
               text-align: justify;
            }
            .element_pic{
               margin-top: 0;
            }
         }
      }
   }
   .resume{
      &__subtitle{
         font-size: 24px;
      }
      &__wrapper{
         grid-template-columns: repeat(1,minmax(300px,26.5625rem));
         row-gap: 20px;

      }
   }
   .portfolio{
      padding-bottom: 30px;
      &__wrapper{
         grid-template-columns: auto;
         grid-template-rows: auto;
         grid-auto-rows: auto;
      }
   }

   .contacts{
      margin-bottom: 20px;
      .aboutMe__img img{
         display: none;
      }
   }

   .pageup{
      right: 5px;
   }
}

@media (max-width: 576px) {
   // .title_fz36{
   //    font-size: 24px;
   // }
   .container{
      max-width: 100%;
      padding: 0 10px;
      // position: relative;
      // bottom: 0px;
   }

   .title{
      &_fz48{
         font-size: 26px;
         line-height: normal;
      }
   }

   .menu__block{
      width: 250px;
   }
   .aboutMe{
      &__elements{
         grid-template-columns: auto;
         row-gap: 30px;
      }
      &__img{
         img{
            width: 300px;
            height: 340px;
         }
      }
      &__txt{
         padding: 0;
         &_title{
            max-width: 100%;
            padding: 0;
         }
         &_descr{
            max-width: 100%;
         }
         &_services{
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(3,1fr);
            justify-items: center;
            .element_descr{
               text-align: left;
               max-width: 240px;
            }
            .element_pic{
               margin-top: 0;
            }
            .element{
               &_name::before{
                  left: -18%;
                  top: -10px;
               }
               grid-template-columns: 40px minmax(200px, 300px);
            }
         }
      }
   }
   .skills{
      padding-top: 60px;
      padding-bottom: 60px;
      &__wrapper{
         margin-top: 25px;
      }
      &__subtitle{
         font-size: 26px;
         line-height: 1.2;
      }
      &__raitings{
         margin-top: 40px;
      }
   }

   .portfolio{
      .divider{
         margin-bottom: 30px;
      }
      padding-bottom: 40px;
      &__wrapper{
         grid-template-columns: auto;
         grid-template-rows: auto;
         grid-auto-rows: auto;
      }
   }
}

@media (max-width: 353px) {
   .contacts{
      .subtitle{
         font-size: 30px;
      }
   }
}